.display-flex{
    display: flex;
    justify-content: space-between;
}
.fontes-padrao{
    font-family: Arial, Helvetica, Verdana, sans-serif !important;
}
.box{
    width: 33%;
}
.color-white li a{
    color: white;
}
.logo-menu{
    max-width:5%;
    max-height:5%;
    width: auto;
    height: auto;
    
}

.cabecalho-box{
    border-left: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6 !important;
    border-right: 1px solid #dee2e6 !important;
    padding-bottom: 8px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: 	#314B7F;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.page-text{
    color: white;
}
.color-button{
    background-color: #314B7F;
}
/* regras ativas para display menor que 1000px */
@media(max-width: 1000px){
    .mr-5{
        margin-right: auto !important;
    }
    .nav-item{
        border-bottom: 1px dotted #979797 !important;
        margin-bottom: 0.5em;
        border-left: 4px solid #979797;
        padding-left: 5px;
    }
}

/* regras ativas para display maior que 1000px */
@media(min-width: 1000px){
    #links .nav-link{
        border-left: 3px solid #182540;
        border-right: 3px solid #182540;
        border-bottom: 3px solid #182540;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-left: 6px;
        padding-right: 15px;
        margin-right: 12px;
        line-height: 12px;
    }
    #links .nav-link:hover{
        background-color: #182540;
        border-left: 3px solid #6397ff;
        border-right: 3px solid #6397ff;
        border-top: 3px solid #6397ff;
        border-bottom: 3px solid #6397ff;
    }
    
    .md-100{
        height: 76vh;
    }
    #carouselExampleFade{
        width: 50vw;
        text-align: center;
    }
}